---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Zheng Long</h1>
    <p>
      Hi, I'm Zheng Long, a second-year CS student at the National University of
      Singapore (NUS).
    </p>
    <p>
      I often describe myself as curious leaner, hoping to make a difference
      through my works. Typically, this involves using technology, math, or
      algorithms in some way, but I'm always open to new ideas.
    </p>
    <p>What I'm specialising:</p>
    <ul>
      <li>Software Engineering</li>
      <li>Artificial Intelligence</li>
      <li>Network & Distributed Systems</li>
    </ul>
  </article>
  <p>
    <!-- <img width="640" height="360" src="/hero.jpg" alt="Hero Image" /> -->
  </p>
  <hr class="hr-line" />
  <p>Find me on</p>
  <p class="flex gap-x-4 gap-y-2 flex-wrap">
    {
      siteConfig.socialLinks.map((link) => (
        <a
          aria-label={link.text}
          href={link.href}
          target="_blank"
          class="prose-link"
        >
          <i class:list={[link.icon]} />
          {link.text}
        </a>
      ))
    }
  </p>
  <p>
    If you have any questions, please email me at
    <a
      prose-link
      aria-label={siteConfig.email}
      href={`mailto:${siteConfig.email}`}
    >
      {siteConfig.email}
    </a>.
  </p>
</BaseLayout>
